<!DOCTYPE html>
<html lang="es" xmlns:th"http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Personas</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="./public/CSS/estilostabalas.css">
	<style>
		.container {
			margin-left: 10px;
			/* Aplicamos un margen izquierdo negativo */
		}
	</style>
</head>
<body>
    <div class="jumbotron">
        <h1 class="display-4">Personas y roles</h1>
        <p class="lead">Eliga el componente a usar</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="/Roles" role="button">Roles</a>
          <a class="btn btn-primary btn-lg" href="/Persona" role="button">Personas</a>
        </p>
      </div>
</body>

</html>